*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
.border{
    border: solid #9b9b9bad 2px;
}
header{
    width: 100%;
    background-color: #8ec4b2;
}
nav{
    position: sticky;
    top: 0px;
}
nav a:hover{
    background-color: #c9c6c2;
}
.carrusel{
    width: 100%;
    margin-bottom: 2rem;
}

.comments{
    text-align: right;
}
.comentario{
    margin-bottom: 15px;
}

footer{
    text-align: center;
}
.productos{
    text-align: center;
    margin:30px 10px;
}
.producto1{
    width: 450px;
    height: 550px;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 15px;
    overflow: hidden;
}
.us{
    margin:30px 15px;
    text-align: center;
}
.us img{
    margin: 15px;
}
.personal{
    text-align: center;
}
.persona{
    width: 450px;
    height: 550px;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 15px;
    overflow: hidden;
}
.persona img{
    margin: 10px;
}
.contacto{
    margin:30px 15px;
    text-align: left;
}
form{
    margin: 30px 30px;
    width: 30%;
}
.orden h1{
    text-align: center;
}
form div{
    margin: 10px 20px 15px 20px;
}
form legend{
    text-align: center;
}
.map{
    margin: 30px 30px;
    width: 50%;
}
.orden{
    display: inline-block;
}